body, html{
  height: 100%;

}

body{
  background-color:black;
}


#leftbox {
  float:left; 
  background:black;
  color: white;
  width:25%;
  height:280px;
  
}
#middlebox{
  float:left; 
  background:black;
  width:50%;
  height:280px;


}
#rightbox{
  float:right;
  background:black;
  width:25%;
  height:280px;

}

#card{
border: 2px solid #e7e7e7;
background:black;
border-radius: 4px;
grid-template-columns: repeat(3, 200px);
padding: .5rem;
}

h1{
  color:gray;
  text-align:center;
}

h3 {
  color:black;
  text-align:center;
}